body{
    background-color: black;
    color: aquamarine;
}

h1{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color:blue;
    font-size: 15px;
    
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}



